.places__paragraph {
    margin: 0;
    width: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 26px;
}

.places__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
    .places__paragraph {
        width: 484px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places__paragraph {
        width: 352px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .places__paragraph {
        margin: 0 16px;
        width: calc(100% - 16px*2);
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }
}