.places {
    width: 100%;
    padding-bottom: 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* чтобы при увеличении ширины страницы блок с местом оставался по центру  */ 
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding-bottom: 66px;
    }
}