.intro__list {
    width: 690px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro__list {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        width: 100%;
    }
}