.places__link {
    width: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #FFFFFF;
    transition: opacity .3s linear;
}

.places__link:hover {
    opacity: .8;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places__link {
        width: 352px;
    }
}

