.places__paragraphs {
    margin:48px 0 0 32px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

@media screen and (min-width: 1280px) {
    .places__paragraphs {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places__paragraphs {
        margin-left: 28px;
    }
}

@media screen and (max-width: 767px) {
    .places__paragraphs {
        margin: 0;
    }
}