.cover__subtitle {
    margin: 32px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    z-index: 2;
}


@media screen and (max-width: 767px) {
    .cover__subtitle {
        margin: 16px auto 0;
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}