.header__logo {
    height: 52px;
    width: 176px;
    background-image: url(../../../images/logo/__logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1023px) and (min-width: 768px) {

}

@media screen and (max-width: 767px){
    .header__logo {
        height: 42px;
        width: 142px;
    }
}