.lead__image-tie {
    width: calc(100% - 48px*2);
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .lead__image-tie {
        width: 984px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .lead__image-tie {
        width: 100%;
        max-width: 928px; 
    }
}

@media screen and (max-width: 767px) {
    .lead__image-tie {
        width: 100%;
        max-width: 768px;
    }
}