.header__link { 
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:first-child { 
    text-decoration-line: underline;
    margin-right: 18px;
}

@media screen and (min-width: 1280px) {

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
 
}

@media screen and (max-width: 767px) {
    .header__link { 
    font-size: 18px;
    line-height: 20px;
    }
}