.footer__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: calc(100%/2);
    min-width: 465px;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        height: 248px;
    }
}