.cover__title {
    margin: 195px auto 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    width: 560px;
    z-index: 2;
}

@media screen and (min-width: 1280px) {
    .cover__title {
        margin: 245px auto 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin: 33px auto 0;
        font-size: 32px;
        line-height: 35px;
        width: 288px;
    }
}