.footer {
    width: calc(100% - 48px*2);
    padding: 92px 0 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .footer {
        width: calc(1280px - 48px*2);
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer {
        
        width: calc(100% - 24px*2);
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 16px*2);
        padding-top: 64px;
        flex-direction: column;
    }
}