.intro__title {
    width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro__title {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}